<div class="login-page">
  <div class="form">
    Are you sure you want to delete the user: <strong><%= @cuser["first_name"] %> <%= @cuser["last_name"] %></strong>
  </br></br><a href="/users/<%=@cuser["id"]%>/delete" data-method="delete" class="button">Confirm</a>
    <a href="/users" class="button"> Cancel</a>
  </div>
</div>
