<div class="users-wrap">
  <h1 class="title">Users</h1>
  <table class="table">
    <a href="/users/new" class="nubutton"> NEW USER </a>
    </br>
      <% for i in 0..@users.size-1 %>
        <tr>
            <td><%= @users[i]["first_name"] %> <%= @users[i]["last_name"]%></td>
            <td><a href="/users/<%=@users[i]["id"]%>/edit/">Edit</a></td>
            <td><a href="/users/<%=@users[i]["id"]%>/delete">Delete</a></td>
        </tr>
      <% end %>
  </table>
</div>

<%= render "side" %>
