# NEW USER

<div class="form">
  <%= form_for :user, :html => {:class => "login-form"} do |f| %>
    <p>First Name:</p> <%= f.text_field :first_name, placeholder: "First Name", :required => true %>
    </br>
    <p>Last Name:</p> <%= f.text_field :last_name, placeholder: "Last Name", :required => true  %>
    </br>
    <p>Email:</p> <%= f.text_field :email, placeholder: "Email", :required => true   %>
    </br>
    <p>Stripe Account ID:</p> <%= f.text_field :stripe_account_id, placeholder: "Stripe Account ID"  %>
    </br>
    <p>Bio:</p> <%= f.text_area :bio, placeholder: "Bio"  %>
    </br>
    <p>City:</p> <%= f.text_field :city, placeholder: "City"  %>
    </br>
    <p>Country:</p> <%= f.text_field :country, placeholder: "Country"  %>
    </br>
    <p>Phone Number:</p> <%= f.text_field :phone_number, placeholder: "Phone Number"  %>
    </br>
    <!-- GENDER -->
    <p>Gender:</p> <%= f.select :gender, [' ', 'Female', 'Male', 'Other']  %>
    <!-- ROLE -->
    <p>Role:</p> <%= f.select :role, [' ', 'guest', 'host', 'admin'] %>
    <!-- LANGUAGES -->
    <!-- BIRTH_DATE -->
    <p>Birthdate:</p><%= f.date_select :birthday, :order => [:day, :month, :year], :start_year => Date.today.year - 100, :end_year => Date.today.year - 18%>
    <%= f.submit "Confirm New User", class: "button"  %>
  <% end %>
</div>

<%= render "side" %>
