Insert your email below:
<%= form_for :user, :html => {:class => "login-form"} do |f| %>
  <%= f.text_field :email, placeholder: "email"  %>
  <%= f.submit "login", class: "button"  %>
<% end %>

<a href="/"> Back </a>
