<div class="login-page">
  <div class="form">
    <%= form_for :user, :html => {:class => "login-form"} do |f| %>
      <%= f.text_field :email, placeholder: "email"  %>
      <%= f.password_field :password, placeholder: "password"  %>
      <%= f.submit "login", class: "button"  %>
    <% end %>
    <a href="/email_password">Forgot Password</a>
  </div>
</div>
