Insert you new password below:
<%= form_for :user, :html => {:class => "login-form"} do |f| %>
  <%= f.text_field :password, placeholder: "password"  %>
  <%= f.text_field :password_confirmation, placeholder: "password confirmation"  %>
  <%= f.submit "login", class: "button"  %>
<% end %>
