# EDIT EXPERIENCE

<div class="form">
  <%= form_for :experience, method: :put, :html => {:class => "login-form"} do |f| %>
    <p>Name:</p> <%= f.text_field :name, value: @cexperience["name"], placeholder: "Experience Name", :required => true %>
    </br>
    <p>Description:</p> <%= f.text_area :description, value: @cexperience["description"], placeholder: "Description", :required => true  %>
    </br>
    <p>Price:</p> <%= f.number_field :price, value: @cexperience["price"], placeholder: "Price", :required => true   %>
    </br>
    <p>Minimum Guests:</p> <%= f.number_field :min_guests, value: @cexperience["min_guests"], placeholder: "Minimum Number of Guests"  %>
    </br>
    <p>Maximum Guests:</p> <%= f.number_field :max_guests, value: @cexperience["max_guests"], placeholder: "Maximum Number of Guests"  %>
    </br>
    <%= f.submit "Confirm Edit", class: "button"  %>
  <% end %>
</div>

<%= render "side" %>
