<div class="experiences-wrap">
  <h1 class="title">Experiences</h1>
  <table class="table">
    <a href="#" class="nubutton"> NEW EXPERIENCE </a>
    </br>
      <% for i in 0..@experiences.size-1 %>
        <tr>
            <td><%= @experiences[i]["name"] %></td>
            <td><a href="/experiences/<%=@experiences[i]["id"]%>/edit/">Edit</a></td>
            <td><a href="/experiences/<%=@experiences[i]["id"]%>/delete">Delete</a></td>
        </tr>
      <% end %>
  </table>
</div>

<%= render "side" %>
