.experiences-wrap {
  position: relative;
  margin-top: 100px;
  left: 270px;
}

.experiences-wrap tr td {
  list-style-type: none;
  color: white;
  margin-bottom: 5px;
}

.experiences-wrap a {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.table {
  margin-top: 10px;
  margin-left: 100px;
}

.nubutton {
  margin-left: 100px;
}

.title {
  margin-left: 100px;
  color: #FFFFFF;
  font: Arial;
}
