<div class="site-wrap">
  <nav>
    <ul>
      <li><img class="potato_img" src="http://ezycities.com/wp-content/uploads/2016/08/ezycities_logo.png"></li>
      <li><a href="/home">Home</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/experiences">Experiences</a></li>
      <li><a href="#">Reviews</a></li>
      <li><a href="#">Notifications</a></li>
      <li><a href="#">Cities</a></li>
      <li><a href="#">Countries</a></li>
      <li><a href="#">Categories</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </nav>
</div>
